* linguist-generated

# Pong
pong/main.lua linguist-generated=false

# Flappy Bird
flappy/states/PauseState.lua linguist-generated=false
flappy/states/PlayState.lua linguist-generated=false
flappy/states/ScoreState.lua linguist-generated=false
flappy/main.lua linguist-generated=false

# Breakout
breakout/src/states/PaddleSelectState.lua linguist-generated=false
breakout/src/states/PlayState.lua linguist-generated=false
breakout/src/states/ServeState.lua linguist-generated=false
breakout/src/states/VictoryState.lua linguist-generated=false
breakout/src/Brick.lua linguist-generated=false
breakout/src/Dependencies.lua linguist-generated=false
breakout/src/LevelMaker.lua linguist-generated=false
breakout/src/Paddle.lua linguist-generated=false
breakout/src/Powerup.lua linguist-generated=false
breakout/src/Util.lua linguist-generated=false
breakout/main.lua linguist-generated=false

# Match 3
match/src/states/BeginGameState.lua linguist-generated=false
match/src/states/GameOverState.lua linguist-generated=false
match/src/states/PlayState.lua linguist-generated=false
match/src/states/StartState.lua linguist-generated=false
match/src/Board.lua linguist-generated=false
match/src/Dependencies.lua linguist-generated=false
match/src/Tile.lua linguist-generated=false
match/main.lua linguist-generated=false

# Super Mario Bros.
mario/src/states/game/*.lua linguist-generated=false
mario/src/Dependencies.lua linguist-generated=false
mario/src/LevelMaker.lua linguist-generated=false
mario/src/constants.lua linguist-generated=false

# Legend of Zelda
zelda/src/states/entity/player/PlayerGrabState.lua linguist-generated=false
zelda/src/states/entity/player/PlayerIdleState.lua linguist-generated=false
zelda/src/states/entity/player/PlayerLiftState.lua linguist-generated=false
zelda/src/states/entity/player/PlayerThrowState.lua linguist-generated=false
zelda/src/states/entity/player/PlayerWalkState.lua linguist-generated=false
zelda/src/states/game/PlayState.lua linguist-generated=false
zelda/src/world/Room.lua linguist-generated=false
zelda/src/Dependencies.lua linguist-generated=false
zelda/src/Entity.lua linguist-generated=false
zelda/src/GameObject.lua linguist-generated=false
zelda/src/Player.lua linguist-generated=false
zelda/src/entity_defs.lua linguist-generated=false
zelda/src/game_objects.lua linguist-generated=false

# Angry Birds
angry/src/Alien.lua linguist-generated=false
angry/src/AlienLaunchMaker.lua linguist-generated=false
angry/src/Level.lua linguist-generated=false

# Pokémon
pokemon/src/gui/Menu.lua linguist-generated=false
pokemon/src/gui/Selection.lua linguist-generated=false
pokemon/src/states/LevelUpMenuState.lua linguist-generated=false
pokemon/src/states/TakeTurnState.lua linguist-generated=false
pokemon/src/Dependencies.lua linguist-generated=false
pokemon/src/Dependencies.lua linguist-generated=false
pokemon/src/Pokemon.lua linguist-generated=false

# Helicopter 3D Game
helicopter/Assets/Resources/Scripts/Gem.cs linguist-generated=false
helicopter/Assets/Resources/Scripts/GemSpawner.cs linguist-generated=false
helicopter/Assets/Resources/Scripts/HeliController.cs linguist-generated=false
helicopter/Assets/Resources/Scripts/SkyscraperSpawner.cs linguist-generated=false

# Dreadhalls
dreadhalls/Assets/Scripts/DespawnOnHeight.cs linguist-generated=false
dreadhalls/Assets/Scripts/LevelGenerator.cs linguist-generated=false
dreadhalls/Assets/Scripts/LoadSceneOnInput.cs linguist-generated=false
dreadhalls/Assets/Scripts/RenderMazeInfo.cs linguist-generated=false

# Portal
portal/Assets/Scripts/GoalCollision.cs linguist-generated=false

