# Pong
pong/classes/*.lua linguist-vendored
pong/external/*.lua linguist-vendored

# Flappy Bird
flappy/states/BaseState.lua linguist-vendored
flappy/states/CountdownState.lua linguist-vendored
flappy/states/TitleScreenState.lua linguist-vendored
flappy/Bird.lua linguist-vendored
flappy/class.lua linguist-vendored
flappy/Pipe.lua linguist-vendored
flappy/PipePair.lua linguist-vendored
flappy/StateMachine.lua linguist-vendored
flappy/push.lua linguist-vendored

# Breakout
breakout/lib/**/*.lua linguist-vendored
breakout/src/states/BaseState.lua linguist-vendored
breakout/src/states/EnterHighScoreState.lua linguist-vendored
breakout/src/states/GameOverState.lua linguist-vendored
breakout/src/states/HighScoreState.lua linguist-vendored
breakout/src/states/StartState.lua linguist-vendored
breakout/src/Ball.lua linguist-vendored
breakout/src/StateMachine.lua linguist-vendored
breakout/src/constants.lua linguist-vendored

# Match 3
match/lib/**/*.lua linguist-vendored
match/src/states/BaseState.lua linguist-vendored
match/src/StateMachine.lua linguist-vendored
match/src/Util.lua linguist-vendored

# Super Mario Bros.
mario/main.lua linguist-vendored
mario/lib/**/* linguist-vendored
mario/src/states/BaseState.lua linguist-vendored
mario/src/states/entity/*.lua linguist-vendored
mario/src/Animation.lua linguist-vendored
mario/src/Entity.lua linguist-vendored
mario/src/GameLevel.lua linguist-vendored
mario/src/GameObject.lua linguist-vendored
mario/src/Player.lua linguist-vendored
mario/src/Snail.lua linguist-vendored
mario/src/StateMachine.lua linguist-vendored
mario/src/Tile.lua linguist-vendored
mario/src/TileMap.lua linguist-vendored
mario/src/Util.lua linguist-vendored

# Legend of Zelda
zelda/main.lua linguist-vendored
zelda/lib/**/* linguist-vendored
zelda/src/states/entity/EntityIdleState.lua linguist-vendored
zelda/src/states/entity/EntityWalkState.lua linguist-vendored
zelda/src/states/game/GameOverState.lua linguist-vendored
zelda/src/states/game/StartState.lua linguist-vendored
zelda/src/states/BaseState.lua linguist-vendored
zelda/src/world/Doorway.lua linguist-vendored
zelda/src/world/Dungeon.lua linguist-vendored
zelda/src/Animation.lua linguist-vendored
zelda/src/Hitbox.lua linguist-vendored
zelda/src/StateMachine.lua linguist-vendored
zelda/src/Util.lua linguist-vendored
zelda/src/constants.lua linguist-vendored

# Angry Birds
angry/lib/**/*.lua linguist-vendored
angry/src/states/*.lua linguist-vendored
angry/src/Background.lua linguist-vendored
angry/src/constants.lua linguist-vendored
angry/src/Dependencies.lua linguist-vendored
angry/src/Obstacle.lua linguist-vendored
angry/src/StateMachine.lua linguist-vendored
angry/src/Util.lua linguist-vendored
angry/main.lua linguist-vendored

# Pokémon
pokemon/lib/**/*.lua linguist-vendored
pokemon/src/battle/*.lua linguist-vendored
pokemon/src/entity/*.lua linguist-vendored
pokemon/src/world/*.lua linguist-vendored
pokemon/src/gui/Panel.lua linguist-vendored
pokemon/src/gui/ProgressBar.lua linguist-vendored
pokemon/src/gui/Textbox.lua linguist-vendored
pokemon/src/states/entity/*.lua linguist-vendored
pokemon/src/states/game/BattleMenuState.lua linguist-vendored
pokemon/src/states/game/BattleMessageState.lua linguist-vendored
pokemon/src/states/game/BattleState.lua linguist-vendored
pokemon/src/states/game/DialogueState.lua linguist-vendored
pokemon/src/states/game/FadeInState.lua linguist-vendored
pokemon/src/states/game/FadeOutState.lua linguist-vendored
pokemon/src/states/game/FieldMenuState.lua linguist-vendored
pokemon/src/states/game/MenuState.lua linguist-vendored
pokemon/src/states/game/PlayState.lua linguist-vendored
pokemon/src/states/game/StartState.lua linguist-vendored
pokemon/src/states/BaseState.lua linguist-vendored
pokemon/src/states/StateStack.lua linguist-vendored
pokemon/src/Animation.lua linguist-vendored
pokemon/src/Party.lua linguist-vendored
pokemon/src/StateMachine.lua linguist-vendored
pokemon/src/Util.lua linguist-vendored
pokemon/src/constants.lua linguist-vendored
pokemon/src/pokemon_defs.lua linguist-vendored
pokemon/main.lua linguist-vendored

# Helicopter 3D Game
helicopter/Assets/Resources/Scripts/Airplane.cs linguist-vendored
helicopter/Assets/Resources/Scripts/AirplaneSpawner.cs linguist-vendored
helicopter/Assets/Resources/Scripts/Bounds.cs linguist-vendored
helicopter/Assets/Resources/Scripts/Coin.cs linguist-vendored
helicopter/Assets/Resources/Scripts/CoinSpawner.cs linguist-vendored
helicopter/Assets/Resources/Scripts/CoinText.cs linguist-vendored
helicopter/Assets/Resources/Scripts/GameOverText.cs linguist-vendored
helicopter/Assets/Resources/Scripts/ScrollingBrackground.cs linguist-vendored
helicopter/Assets/Resources/Scripts/Skyscraper.cs linguist-vendored
helicopter/Assets/ProtoPack/**/* linguist-vendored
helicopter/Assets/**/*.meta linguist-vendored
helicopter/Logs/**/* linguist-vendored
helicopter/Packages/**/* linguist-vendored
helicopter/ProjectSettings/**/* linguist-vendored

# Dreadhalls
dreadhalls/Assets/Scripts/DontDestroy.cs linguist-vendored
dreadhalls/Assets/Scripts/GrabPickups.cs linguist-vendored
dreadhalls/Assets/Scripts/Pickup.cs linguist-vendored
dreadhalls/Assets/DungeonModules/**/* linguist-vendored
dreadhalls/Assets/Fonts/**/* linguist-vendored
dreadhalls/Assets/Prefabs/**/* linguist-vendored
dreadhalls/Assets/Resources/**/* linguist-vendored
dreadhalls/Assets/Sounds/**/* linguist-vendored
"dreadhalls/Assets/Standard Assets/**/*" linguist-vendored
dreadhalls/Assets/**/*.meta linguist-vendored
dreadhalls/Logs/**/* linguist-vendored
dreadhalls/Packages/**/* linguist-vendored
dreadhalls/ProjectSettings/**/* linguist-vendored

# Portal
portal/Assets/FireFireWeapon/**/* linguist-vendored
portal/Assets/ProCore/**/* linguist-vendored
portal/Assets/Shaders/**/* linguist-vendored
"portal/Assets/Standard Assets/**/*" linguist-vendored
portal/Assets/Scripts/DebugRay.cs linguist-vendored
portal/Assets/Scripts/Portal.cs linguist-vendored
portal/Assets/Scripts/PortalGun.cs linguist-vendored
portal/Assets/**/*.meta linguist-vendored
portal/Logs/**/* linguist-vendored
portal/Packages/**/* linguist-vendored
portal/ProjectSettings/**/* linguist-vendored